__pycache__/

data/*
!data/.gitkeep

#experiments/*
#!experiments/.gitkeep

wandb/*
.vscode/launch.json
.vscode/settings.json

#*.txt
*.pdf
*.pth
*.pt
*.png
*.eps


!mean.pt
!var.pt
!entropy.pt
!kld.pt
!test_ps.pt

/distr_visualizations/
*eval_results*.json
!*eval_results*example*.json

compare_sequences_plotly_*

~

debug/*