__pycache__/

data/*
!data/.gitkeep

#experiments/*
#!experiments/.gitkeep

wandb/*
.vscode/launch.json
.vscode/settings.json

*.txt
*.pdf
*.pth
*.pt
*.png


!mean.pt
!var.pt
!entropy.pt
!kld.pt
!test_ps.pt

compare_sequences_plotly_*

~

debug/*